

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron {
	/*font-family: 'Amatic SC', cursive;*/
	text-align: center;
	background-image: url(../img/ninja.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.jumbotron h1, .description {
	color: darkred;
	text-shadow:
		3px 3px 0 #fff,
		-1px -1px 0 #fff,  
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
	font-weight: bold;
}

.jumbotron .container {
	background-color: rgba(238, 238, 238, 0.5);
}
